:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
}

.header-bar {
  font-size: 2rem;
  width: 100%;
  background-color: #FF01FB;
  color: #FFFEFF;
  text-align: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

nav {
  display: flex;
  justify-content: space-evenly;
}

nav a {
  padding-top: 1rem;
  padding-bottom: 1rem;
  background-color: #02A9EA;
  color: #FAFF00;
  width: 100%;
  text-align: center;
}

.all-pets {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}

.pet-container {
  width: 45%;
  padding: 1rem;
}

.action-items {
  display: flex;
  justify-content: flex-end;
}

.action-items button {
  height: 3rem;
  background-color: #02A9EA;
  color: #FAFF00;
  border-radius: 5rem;
}

.italics {
  font-style: italic;
}

.pet-image {
  width: 75%;
}

.required {
  color: red;
  padding-left: 0.25rem;
}