:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  border: 10px solid #424242;
  background-image: url('/images/stars.jpg');
}

header {
  font-size: 2rem;
  color: yellow;
  background-color: darkblue;
}

p {
  font-size: 1.5rem;
}

.fancy-header {
  background-color: pink;
  padding: 1rem;
  margin: 1rem 4rem 1rem 4rem;
  border: 0.25rem dotted green;
  text-align: center;
}

#thisIsAnIdSelector {}

.hero-image {
  width: 100%;
}

.luke-picture {
  border: 0.5rem solid purple;
}

.hero-text {
  padding-right: 10rem;
}

.hero-text:hover {
  background-color: aqua;
}

ul.character-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav {
  background-color: yellowgreen;
  padding: 1rem;
  font-family: 'Major Mono Display', monospace;
}

nav ul {
  list-style: none;
}

nav li {
  border: 3px dotted purple;
}

nav a {
  text-decoration: none;
  color: white;
  font-size: 1.1rem;
}

nav a:visited {
  color: white;
}

nav a:hover {
  color: orange;
}

/* Flex examples */

.menu-list {
  display: flex;
  justify-content: space-between;
}